@media (Max-width: 968px){
    header{
background-position: 50%;
        width: 100%;
        height: 820px;
       background-size: cover;
        background-repeat: no-repeat;
      background-clip: cover;
        background-image: url("./travel_trend_image/bgimage2.jpg");
      }
      .backgroundimage {
        height: 820px;
         
      background-position: 50%;
      opacity: 9;
      background: rgba(45, 43, 43, 0.295);
      
         
           
        }
      .logo .logoimg {
        
          width: 150px;
          margin-left: 40px;
          margin-top: 30px;
        }
        .call{
            display: flex;
            justify-content: end;
            align-items: end;
            justify-items: end;
            margin-top: -15px;
          }
          .call .call1 {
            width: 28px;
           
          }
          .number{
            display: flex;
            justify-content: end;
            align-items: end;
            justify-items: end;
            margin-left: 30px;
            margin-top: -4.8px;
          }
          .number .no {
            color: white;
            font-size: 19px;
            font-weight: 700;
          
            font-family: "Montserrat";
          }
    
          .text h1 {
     
              color: rgb(255, 255, 255);
              font-family: "Montserrat";
              font-size: 40px;
              font-weight: 900;
              display: flex;
              justify-items: center;
              justify-content: center;
              text-align: center;
              margin-top: 140px;
              text-shadow: 5px 2px #222324, 2px 4px #222324, ;
            }
            .search-bar {
                height:23px;
                  width: 620px;
                  /* max-width: 400px; */
                  padding: 10px;
                  border: 2px solid #fdf7f7;
              border-top-left-radius:10px ;
              border-bottom-left-radius:10px ;
                  font-size: 16px;
              }
              
            .wordbody {
              display: flex;
              height: 100%;
              background-color: transparent;
              margin-top: -300px;
            }
            .word {
              font-family: "Montserrat";
              margin: auto;
              /* color:  rgb(239, 112, 39); */
              color: white;
           font-size: 35px;
              font-weight: 900;
              text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
              text-shadow: rgb(0, 0, 0) 2px 4px 9px;
              opacity: 0.9;
            }
  
            .middletext{
              color: black;
             margin-top: -240px;
          display: flex;
           text-align: center;
           justify-content: center;
          
            }
           
           .text2{
            display: flex;
          justify-items: center;
              position: relative;
          color: black;
          text-align: center;
          justify-content: center;
          font-size: 30px;
          font-family: "Montserrat";
          font-weight: 600;
          margin-top: 300px;
          
          
          
            }
            .middletex3{
              color: black;
              margin-top: 50px;
            }
            .text3{
              display: flex;
          color: black;
          text-align: center;
          justify-content: center;
          font-size: 30px;
          font-family: "Montserrat";
          font-weight: 600;
          margin-top: 50px;
          
            }
            .middletex4{
              color: black;
              margin-top: 30px;
            }
            .text4{
          color: black;
          text-align: center;
          justify-content: center;
          font-size: 30px;
          font-family: "Montserrat";
          font-weight: 600;
          margin-top: 50px;
          
          
          
            }
            .middletex5{
              color: black;
          
            }
            .text5{
          color: black;
          text-align: center;
          justify-content: center;
          font-size: 30px;
          font-family: "Montserrat";
          font-weight: 600;
          margin-top: 40px;
          
          
          
          
      }
      .middletex6{
          color: black;
      
        }
        .text6{
      color: black;
      text-align: center;
      justify-content: center;
      font-size: 30px;
      font-family: "Montserrat";
      font-weight: 600;
      margin-top: 40px;
      
      
        }
        .mainslider{
            margin-top: 50px;
            background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
            
              }
                .slider {
             width: 100%;
             align-items: center;
             justify-content: center;
             text-align: center;
              overflow: hidden;
            padding-left: 100px;
            padding-right: 100px;
            
            }
            
            .slide {
              align-items: center;
              justify-content: center;
              text-align: center;
             display: none;
              width: 100%;
             
             
            }
            
            .slide img {
              align-items: center;
              justify-content: center;
              text-align: center;
              width: 100%;
              height: 250px;
              background-position: 50%;
             
            }
            
            .active {
              display: block;
            }
    }