@media (Max-width: 768px){
    .logo .logoimg {
        width: 140px;
        margin-left: 40px;
        margin-top: 30px;
      }
      .call{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
      }
      .call .call1 {
        width: 28px;
       margin-top: -35.8px;
      }
      .number{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-left: 30px;
      }
      .number .no {
        color: white;
        font-size: 20px;
        font-weight: 700;
        margin-top: -38.8px;
        font-family: "Montserrat";
      }


      #menu_toggle {
        opacity: 0;
      }
      #menu_toggle:checked + .menu_btn > span {
        transform: rotate(45deg);
      }
      #menu_toggle:checked + .menu_btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu_toggle:checked + .menu_btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu_toggle:checked ~ .menu_box {
        left: 0 !important;
      }
      label{
position: absolute;

       
      }
      .menu_btn {
        /* background-color: black; */
        display: flex;
        justify-content: right;
        justify-items: right;
      float: right;
       position: absolute;
        top: 40px;
        left: 680px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        z-index: 1;
      
      }
      .menu_btn > span,
      .menu_btn > span::before,
      .menu_btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        transition-duration: 0.25s;
        display: flex;
        justify-content: end;
        justify-items: end;
      }
      .menu_btn > span::before {
        content: "";
        top: -8px;
      }
      .menu_btn > span::after {
        content: "";
        top: 8px;
      }
      .menu_box {
        display: flex;
        justify-content: end;
        justify-items: end;
        display: block;
        position: fixed;
        position: absolute;
        top: 0;
        left: -200%;
        width: 65%;
        height: 80%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color:rgb(255, 255, 255) ;
        box-shadow: 2px 2px 6px rgba(0,0,0,.4);
        transition-duration: .30s;
        z-index: 2;
     
     }
     .menu_box a :hover{
        color: rgb(239,  112, 39);
        
       }
       .gif{
visibility: visible;
       }
       .giff{
        margin-top: 30px;
        width: 200px;
       visibility: visible;
       }
     hr{
        visibility: visible;
        margin-top: 20px;

     }
     .menu_item1 .p1{
        color: black;
        font-weight: 900;
      font-size: 19px;
      margin-left: 30px;
 /* margin-left: -450px;
margin-top: -70px; */
display: flex;
justify-content: left;
    
     }
     .menu_item2 .p2{
        margin-left: 30px;
        color: black;
        font-weight: 900;
      font-size: 19px;
display: flex;
justify-content: left;
align-items: baseline;
justify-items: baseline;
    
     }
     .menu_item3 .p3{
        margin-left: 30px;
        color: black;
        font-weight: 900;
      font-size: 19px;
      display: flex;
justify-content:left ;
    
     }
     .menu_item4 .p4{
        margin-left: 30px;
        color: black;
        font-weight: 900;
      font-size: 19px;
      display: flex;
justify-content: left;
   
     }
     .menu_item5 .p5{
        margin-left: 30px;
        color: black;
        font-weight: 900;
      font-size: 19px;
      display: flex;
justify-content: left;
    
     }
    
     .text h1 {
   
        color: white;
        font-family: "Montserrat";
        font-size: 40px;
        font-weight: 900;
        display: flex;
        justify-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 90px;
      }
      .search-container {
        display: flex;
        justify-content: center;
        margin-top: -0px;
        padding-left: 40px;
        padding-right: 40px;
        
    }
    .middletext{
      color: black;
     margin-top: -240px;
  
   text-align: center;
   justify-content: center;
  
    }
   
   .text2{
  justify-items: center;
      position: relative;
  color: black;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: 600;
  margin-top: 300px;
  
  
  
    }

    .middletex3{
      color: black;
      margin-top: 50px;
    }
    .text3{
      display: flex;
  color: black;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: 600;
  margin-top: 50px;
  
    }



}
