@media (Max-width: 775px){
    .menu_btn {
      
        display: flex;
        
      background-position: 50%;
      float: right;
       position: absolute;
        top: 40px;
        left: 90%;
        width: 23px;
        height: 23px;
        cursor: pointer;
        z-index: 1;
      
      }
   
}