@media (Max-width: 1120px){
    header{
background-position: 50%;
        width: 100%;
        height: 820px;
       background-size: cover;
        background-repeat: no-repeat;
      background-clip: cover;
        background-image: url("./travel_trend_image/bgimage2.jpg");
      }
      .backgroundimage {
        height: 820px;
         
      background-position: 50%;
      opacity: 9;
      background: rgba(45, 43, 43, 0.295);
      
         
           
        }
      .logo .logoimg {
        
          width: 150px;
          margin-left: 40px;
          margin-top: 30px;
        }
        .call{
            display: flex;
            justify-content: end;
            align-items: end;
            justify-items: end;
            margin-top: -15px;
          }
          .call .call1 {
            width: 28px;
           
          }
          .number{
            display: flex;
            justify-content: end;
            align-items: end;
            justify-items: end;
            margin-left: 30px;
            margin-top: -4.8px;
          }
          .number .no {
            color: white;
            font-size: 19px;
            font-weight: 700;
          
            font-family: "Montserrat";
          }
    
          .text h1 {
     
              color: rgb(255, 255, 255);
              font-family: "Montserrat";
              font-size: 45px;
              font-weight: 900;
              display: flex;
              justify-items: center;
              justify-content: center;
              text-align: center;
              margin-top: 140px;
              text-shadow: 5px 2px #222324, 2px 4px #222324, ;
            }
            .wordbody {
              display: flex;
              height: 100%;
              background-color: transparent;
              margin-top: -300px;
            }
            .word {
              font-family: "Montserrat";
              margin: auto;
              /* color:  rgb(239, 112, 39); */
              color: white;
           font-size: 35px;
              font-weight: 900;
              text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
              text-shadow: rgb(0, 0, 0) 2px 4px 9px;
              opacity: 0.9;
            }
  
            .middletext{
              color: black;
             margin-top: -240px;
          display: flex;
           text-align: center;
           justify-content: center;
          
            }
           
           .text2{
            display: flex;
          justify-items: center;
              position: relative;
          color: black;
          text-align: center;
          justify-content: center;
          font-size: 32px;
          font-family: "Montserrat";
          font-weight: 600;
          margin-top: 300px;
          
          
          
            }
            .huma {
              white-space: 20px;
            border-image: space;
              display: flex;
              justify-content: center;
              justify-items: center;
              align-items: center;
              height: 200px;
                 padding-left: 80px;
                 padding-right: 80px;
                  /* margin-left: 170px; */
             
              /* background-color: aqua;
                margin-top: 60px; */
          /* background-color: rgb(251, 152, 206); */
              
                } 
            .middletex3{
              color: black;
              margin-top: 50px;
            }
            .text3{
              display: flex;
          color: black;
          text-align: center;
          justify-content: center;
          font-size: 32px;
          font-family: "Montserrat";
          font-weight: 600;
          margin-top: 50px;
          
            }
            .middletex4{
              color: black;
              margin-top: 30px;
            }
            .text4{
          color: black;
          text-align: center;
          justify-content: center;
          font-size: 32px;
          font-family: "Montserrat";
          font-weight: 600;
          margin-top: 50px;
          
          
          
            }
            .middletex5{
              color: black;
          
            }
            .text5{
          color: black;
          text-align: center;
          justify-content: center;
          font-size: 32px;
          font-family: "Montserrat";
          font-weight: 600;
          margin-top: 40px;
          
          
          
          
      }
      .middletex6{
          color: black;
      
        }
        .text6{
      color: black;
      text-align: center;
      justify-content: center;
      font-size: 32px;
      font-family: "Montserrat";
      font-weight: 600;
      margin-top: 40px;
      
      
        }
        .mainslider{
            margin-top: 50px;
            background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
            
              }
                .slider {
             width: 100%;
             align-items: center;
             justify-content: center;
             text-align: center;
              overflow: hidden;
            padding-left: 80px;
            padding-right: 80px;
            
            }
            
            .slide {
              align-items: center;
              justify-content: center;
              text-align: center;
             display: none;
              width: 100%;
             
             
            }
            
            .slide img {
              align-items: center;
              justify-content: center;
              text-align: center;
              width: 100%;
              height: 250px;
              background-position: 50%;
             
            }
            
            .active {
              display: block;
            }

            /* formstart */

            .mainformcontainer{

              display: flex;
              
                height: 150px;
                margin-top: 50px;
                padding-left: 100px;
                padding-right: 100px;
              
              }
              
              
              .formcontainer1{
                
              display: grid;
              gap: 20px;
              height:190px;
              width: 610px;
              }
              .formcontainer1 input{
                padding-left: 20px;
              }
              
              
              .formcontainer2 {
                margin-left: 20px;
                display: flex;
              
                height: 190px;
              
              }
              .formcontainer2 input{
                width: 400px;
                padding-left: 20px;
                
              }
              
                      /* end form */

                      .mainfooter{
                        display: flex;
                        flex-wrap: wrap;
                        background-size: contain;
                      
                       }
                  
                       .orangefooter{
                        background-color: rgb(239, 112, 39);
                        height: 500px;
                        width: 100%;
                        margin-top: 200px;
                  
                       }
                       .mainwhitefooter{
                        padding-left: 80px;
                        padding-right: 80px;
                       }
                       .whitefooter{
                        border-radius: 5px;
                        margin-top: -90px;
                        background-color: white;
                        width: 100%;
                        height: 500px;
                        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.334);
                       display: flex;
                       }
                  
                       .firstdiv{
                        /* background-color: darkgoldenrod;
                        width: 36%; */
                     
                         
                        }
                        .ftlogo{
                       
                         padding-left: 30px;
                         padding-top: 30px;
                        }
                        .ftlogoimg{
                         width: 140px;
                        }
                   
                        .footertext1{
                     display: flex;
                         padding-left: 30px;
                         padding-top: 20px;
                         width: auto;
                        }
                        .fttext1{
                        
                   font-size: 20px;
                   font-family: "Montserrat";
                   font-weight: 900;
                   
                        }
                        .footertext2{
                         display: flex;
                         padding-left: 30px;
                      /* margin-top: 20px; */
                      width: auto;
                        }
                        .input{
                    width: 300px;
                   
                    height: 30px;
                    border-radius: 5px;
                   padding-left: 20px;
                    margin-top: 20px;
                        }
                        .footertext3{
                         padding-left: 30px;
                         padding-top: 20px;
                        }
                   
                        .fttext3{
                         font-size: 16px;
                         font-family: "Montserrat";
                   font-weight: 900;
                        }
                   
                        .seconddiv{
                         /* background-color: palegreen;
                         height: 500px;
                         width: 400px; */
                         
                         
                        }
                        .ftsecondtext1{
                         padding-top: 80px;
                         padding-left: 20px;
                        }
                        .ftsecondptext{
                         font-size: 20px;
                         font-family: "Montserrat";
                         font-weight: 900;
                        }
                   
                        .ftsecondtext2{
                         padding-top: 10px;
                         padding-left: 20px;
                        }
                        .ftsecondptext1{
                         font-family: "Montserrat";
                         font-weight: 900;
                         font-size: 16px;
                        margin-top: 17px;
                        margin-top: 20px;
                        }
                   
                   /* thirddiv */
                   
                        .ftthirdtext1{
                         padding-top: 80px;
                         padding-left: 15px;
                        }
                        .ftthirdptext{
                         font-size: 20px;
                         font-family: "Montserrat";
                         font-weight: 900;
                        }
                   
                        .ftthirdtext2{
                         padding-top: 10px;
                         padding-left: 15px;
                        }
                        .ftthirdptext1{
                         font-family: "Montserrat";
                         font-weight: 900;
                         font-size: 16px;
                        margin-top: 17px;
                        }
            
            
                        /* fourdiv */
                   .ftfourtext1{
                     padding-top: 80px;
                     padding-left: 18px;
                   }
                   .ftfourptext{
                     font-size: 20px;
                     font-family: "Montserrat";
                     font-weight: 900;
                   }
                   .ftfourtext2{
                     padding-top: 20px;
                     padding-left: 18px;
                   }
                   
                       .imageicon1{
                         width: 25px;
                       }
                     
                    
            }
              
    