body{
 overflow-x: hidden;
}
*{
    margin: 0%;
    padding: 0%;
}

.backgroundimage {
    background-image: url("./travel_trend_image/background_image.png");
    width: 100%;
    height: 600px;
   background-size: cover;
    background-repeat: no-repeat;
   
     
  }
  .logo .logoimg {
    width: 190px;
    margin-left: 40px;
    margin-top: 30px;
  }
  .call .call1 {
    width: 30px;
   float: right;
   margin-top: -40.8px;
   margin-right: 190px;
  
    
   
  }
  .number .no {
    color: white;
    font-size: 20px;
    font-weight: 700;
    float: right;
    margin-right: 40px;
    margin-top: -38.8px;
    font-family: "Montserrat";
    justify-content: center;
    text-align: center;
  }
  .text h1 {
   
    color: white;
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 900;
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 90px;
  }
  /* humburger  */


  .gif {
    display: inline;
    visibility: hidden;
    width: 10px;
    height: 10px;
  
    
  }
  .giff{
    visibility: hidden;
    display: inline;
  }
  .humburger .menubtn{
    visibility: hidden;
  }
  #menu_toggle{
visibility: hidden;
  }

  hr{
    visibility: hidden;
  }

  .menu_box a :hover{
    color: rgb(1, 1, 1);
    
   }
   a{
     list-style: none;
     text-decoration: none;
     text-decoration-line: none;

   }
   .menu_box   {
    text-align: center;
    justify-content: center;
    display: flex;

    gap: 1px;
    margin-top: 48px;
    font-family: "Montserrat";
    font-weight: 900;
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;

  }
  .menu_item1 {
    color: white;
    background-color: rgb(239,  112, 39);
    list-style: none;
    text-decoration: none;
    color: white;
    width: 110px;
    border-top-left-radius: 10px;
    height: 30px;
   margin-top: 4px;
   position: relative;
 
  }
  .p1 {
 
    margin-left: 1px;
    margin-top: 4px;
    font-size: 16px;


  }
  /* ============================= */
  .menu_item2  {
    color: white;
    background-color: rgb(239, 112, 39);
    list-style: none;
    text-decoration: none;
    color: white;
    width: 160px;
    height: 30px;
    margin-top: 4px;
    position: relative;
  }
  .p2 {
    margin-left: 1px;
    margin-top: 4px;
    font-size: 16px;
    
  }
  /* ============================= */
  .menu_item3  {
    color: white;
    background-color: rgb(239, 112, 39);
    list-style: none;
    text-decoration: none;
    color: white;
    width: 140px;
    height: 30px;
    margin-top: 4px;
    position: relative;
  }
  .p3 {
    margin-left: 1px;
    margin-top: 4px;
    font-size: 16px;
    height: 25px;
  }
  /* ============================= */
  .menu_item4 {
    color: white;
    background-color: rgb(239, 112, 39);
    list-style: none;
    text-decoration: none;
    color: white;
    width: 50px;
    height: 30px;
    margin-top: 4px;
    position: relative;
  }
  .p4 {
    margin-left: 1px;
    margin-top: 4px;
    font-size: 16px;
    height: 25px;
  }
  /* ============================= */
  .menu_item5  {
    color: white;
    background-color: rgb(239, 112, 39);
    list-style: none;
    text-decoration: none;
    color: white;
    width: 150px;
    border-top-right-radius: 10px;
    height: 30px;
    margin-top: 4px;
    position: relative;
  }
  .p5 {
    margin-left: 1px;
    margin-top: 4px;
    font-size: 16px;
    height: 25px;
  }
 
   /* Add some basic styling for the search bar */
   .search-container {
    display: flex;
    justify-content: center;
    margin-top: -0px;
  
    
}

.search-bar {
  
    width: 670px;
    /* max-width: 400px; */
    padding: 10px;
    border: 2px solid #fdf7f7;
border-top-left-radius:10px ;
border-bottom-left-radius:10px ;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    background-color:  rgb(255, 245, 245);
    color: #fff;
    border: none;
 
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    cursor: pointer;
}
.btn{
    width: 20px;
    margin-left: 69.6%;
    margin-top: -28px;
position: absolute;
  }

  .whatsapp{
    display: flex;
    justify-content: end;
    justify-items: end;
    padding-right: 80px;
   

  }
  .whtsimg{
    position: fixed;
  background-size: contain;
    width: 60px;
    /* position: absolute; */
   animation-name: example;
    animation-duration:  2s;
    display: block;
   margin-top: 250px;
 
  /* margin-left: 1550px; */
  /* position: fixed;  */
  
  }
  @keyframes example {
    from {right: -100px;}
    to {right: 60px;}
  }
  .whtsimg {animation-timing-function: linear;}
   @keyframes example {
    0% {
      right: 200px; /* Start off-screen to the left */
    }
    100% {
      right: 60px; /* End at 70px from the left */
    }

  }
  .middletext{
    color: black;
   margin-top: -240px;
display: flex;
 text-align: center;
 justify-content: center;

  }
 
 .text2{
  display: flex;
justify-items: center;
    position: relative;
color: black;
text-align: center;
justify-content: center;
font-size: 45px;
font-family: "Montserrat";
font-weight: 600;
margin-top: 300px;



  }


  .huma {
    white-space: 20px;
  border-image: space;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 200px;
       padding-left: 100px;
       padding-right: 100px;
        /* margin-left: 170px; */
     margin-top: 60px;
    /* background-color: aqua; */

    
      }
      .imgupertext{
        margin-top: -35px;
    
       
      }
    
      h3{
        
        margin-top: -30px;
       margin-left: 20px;
        color: white;
      align-items: center;
      justify-content: center;
      text-align: center;
        position: relative;
      background-color: rgba(56, 183, 183, 0);
      position: absolute;
      font-family: 'Raleway';
        font-weight: bolder;
      letter-spacing: 1px;
    
      }
      dd{
        position: relative;
        font-family: "Montserrat";
      font-size: 60px;
    margin-top: -90px;
    font-weight: 800;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: rgb(255, 254, 254);
      background-image: linear-gradient(rgba(86, 85, 85, 0.129),  rgba(0, 0, 0, 0.775));
    font-size:20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 90px;
    
    
    
    } 
    .item1{
        margin-left: -1px;
         width: 260px;
      
       
       }
       .item2{
        margin-left: -1px;
         width: 260px;
        
       
       }
       .item3{
        margin-left: -1px;
         width: 260px;
        
       
       }
       .item4{
        margin-left: -1px;
         width: 260px;
        
       
       }
       .item5{
        margin-left: -1px;
         width: 260px;
        
       
       }
       .item6{
        margin-left: -1px;
         width: 260px;
        
       
       }
       .item7{
        margin-left: -1px;
         width: 260px;
        
       
       }
       .item8{
        margin-left: -1px;
         width: 260px;
        
       
       }
       .item9{
        margin-left: -1px;
         width: 260px;
        
       
       }
       .item10{
        margin-left: -1px;
         width: 260px;
        
       
       }
       .item11{
        margin-left: -1px;
         width: 260px;
        
       
       }
       .item12{
        margin-left: -1px;
         width: 260px;
        
       
       }
       .item13{
        margin-left: -1px;
         width: 260px;
        
       
       }
       .item14{
        margin-left: -1px;
         width: 260px;
        
       
       }
       .item15{
        margin-left: -1px;
         width: 260px;
        
       
       }

       .middletex3{
        color: black;
        margin-top: 50px;
      }
      .text3{
        display: flex;
    color: black;
    text-align: center;
    justify-content: center;
    font-size: 42px;
    font-family: "Montserrat";
    font-weight: 600;
    margin-top: 50px;
    
      }

